/* =========================
   RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: -0.03em;
}


html {
    scroll-behavior: smooth;
}

html.lenis {
    height: auto;
}

html.lenis.lenis-smooth {
    scroll-behavior: auto;
}

html.lenis.lenis-stopped {
    overflow: hidden;
}





@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans.woff2") format("woff2");
    font-style: normal;
    font-weight: 300 800;
}





:root {
    --color-primary: #111111;
    --color-secondary: #666666;
    --color-muted: #888888;
    --color-border: #dddddd;
    --color-background: #ffffff;
}



body {
    font-family: 'Open Sans', sans-serif;
    color: var(--color-primary);
    background-color: var(--color-background);
    margin: 0;
}


main {
    padding-top: 120px; /*pas de déclage avec le navbar*/
    padding-bottom: 80px; /*ecart entre le contenu et le footer*/
}



::selection {
    background-color: #000;
    color: #fff;
}










/* =========================
   ANIMATION D'ENTRÉE DU MAIN
========================= */

main:not(.error-page) {
    animation: main-entry 1.2s cubic-bezier(.55, 0, .1, 1) both;
}

@keyframes main-entry {
    from {
        opacity: 0;
        transform: translateY(150px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



body.menu-open {
    overflow: hidden;
}

















/* =========================
   SORTIE
========================= */

main.page-exit:not(.error-page) {
    animation: main-exit 0.3s cubic-bezier(.55, 0, .1, 1) forwards;
}


@keyframes main-exit {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-30px);
    }
}


@media (max-width: 700px) {
    main.page-exit:not(.error-page) {
        animation: none;
    }
}



