/* =========================
   RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #111;
    background-color: #fff;
    margin: 0;
    letter-spacing: -0.02rem;
}


main {
    padding-top: 0px; /*pas de déclage avec le navbar*/
}



@media (max-width: 600px) {

    main {
        padding-top: 40px; /*pas de déclage avec le navbar*/
    }
}