/* =========================
   RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: -0.03em;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #111;
    background-color: #fff;
    margin: 0;
}


main {
    padding-top: 120px; /*pas de déclage avec le navbar*/
    padding-bottom: 80px; /*ecart entre le contenu et le footer*/
}



::selection {
    background-color: #000;
    color: #fff;
}



